@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./assets/fonts/BricolageGrotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 18px;
}
